# URL API (tùy chọn - mặc định sẽ dùng /api hoặc http://localhost:3000/api trong development)
NEXT_PUBLIC_API_URL=

# URL ứng dụng (tùy chọn - mặc định sẽ dùng window.location.origin hoặc http://localhost:3000 trong development)
NEXT_PUBLIC_APP_URL=

# SharePoint Configuration
NEXT_PUBLIC_TENANT_ID="your-tenant-id"
NEXT_PUBLIC_CLIENT_ID="your-client-id"
SHAREPOINT_CLIENT_SECRET="your-client-secret"

# SharePoint Site Path
NEXT_PUBLIC_SITE_PATH="/sites/your-site"
NEXT_PUBLIC_SHAREPOINT_DOMAIN="your-domain.sharepoint.com" 